.add-new-h2,
#bulk-action-selector-top .hide-if-no-js,
#bulk-action-selector-bottom .hide-if-no-js,
.iedit .post-title .inline,
.iedit .post-title .clone,
.iedit .post-title .edit_as_new_draft,
#misc-publishing-actions .hide-if-no-js,
#message.updated a {
	display: none;
	visibility: hidden;
}