.va-wsd-the-phantom-thief .vawsdptp_anchor:link,
.va-wsd-the-phantom-thief .vawsdptp_anchor:hover,
.va-wsd-the-phantom-thief .vawsdptp_anchor:focus,
.va-wsd-the-phantom-thief .vawsdptp_anchor:active,
.va-wsd-the-phantom-thief .vawsdptp_anchor:visited {
	color: #141823;
	text-decoration: none;
}
.va-wsd-the-phantom-thief:after {
	content: "";
	clear: both;
	display: block;
}
.va-wsd-the-phantom-thief .vawsdptp_title,
.va-wsd-the-phantom-thief .vawsdptp_content,
.va-wsd-the-phantom-thief .vawsdptp_domain {
	word-wrap: break-word;
}
.va-wsd-the-phantom-thief {
	position: relative;
}
.va-wsd-the-phantom-thief .vawsdptp_anchor {
	border: none;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	-ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .05);
	display: table;
	padding: 1px;
	width: 100%;
}
.va-wsd-the-phantom-thief .vawsdptp_image {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	max-width: 150px;
}
.va-wsd-the-phantom-thief .vawsdptp_image img {
	vertical-align: middle;
	width: 100%;
}
.va-wsd-the-phantom-thief .vawsdptp_body {
	display: table-cell;
	padding: 10px 12px;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.va-wsd-the-phantom-thief .vawsdptp_image + .vawsdptp_body {
	width: auto;
}
.va-wsd-the-phantom-thief .vawsdptp_title {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
	max-height: 40px;
	overflow: hidden;
}
.va-wsd-the-phantom-thief .vawsdptp_title + .vawsdptp_content {
	margin-top: -15px;
}
.va-wsd-the-phantom-thief .vawsdptp_content {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 30px;
}
.va-wsd-the-phantom-thief .vawsdptp_domain {
	bottom: 10px;
	left: 12px;
	line-height: 1;
	position: absolute;
	right: 0;
}
.va-wsd-the-phantom-thief .vawsdptp_favicon {
	display: inline-block;
	height: 12px;
	margin-right: 5px;
	vertical-align: middle;
}
.va-wsd-the-phantom-thief .vawsdptp_domain_txt {
	color: #9197a3;
	font-size: 10px;
	text-transform: uppercase;
}
@media (max-width: 640px) {
	.va-wsd-the-phantom-thief .vawsdptp_image {
		display: none;
		visibility: hidden;
	}
	.va-wsd-the-phantom-thief .vawsdptp_image + .vawsdptp_body {
		width: 100%;
	}
}